faiss-cpu==1.8.0.post1
huggingface-hub==0.23.4
InstructorEmbedding==1.0.1
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.10
langchain-openai==0.1.13
langchain-text-splitters==0.2.2
langchain_huggingface
langsmith==0.1.82
numpy==1.26.4
pillow==10.3.0
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
pytesseract==0.3.13
regex==2024.5.15
requests==2.32.3
safetensors==0.4.3
sentence-transformers==2.2.2
sentencepiece==0.2.0
streamlit==1.36.0
tokenizers==0.19.1
transformers==4.42.3
pdf2image
